@import '../../styles/constants';

.form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  @media (max-width: $md) {
    grid-template-columns: 1fr;
  }
}

.content {
  margin-bottom: 2rem;
}

.content:nth-of-type(3) {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: 2 / 1 / 2 / 3;
  @media (max-width: $md) {
    grid-area: unset;
  }
}

.term-container {
  display: flex;
  gap: 2rem;
}

.select,
.input {
  color: $dark-color;
  background-color: $additional-dark-color;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: none;
  border-radius: $border-radius;
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.select {
  width: 15rem;
}

.input::placeholder {
  font-size: 1.5rem;
  opacity: 0.2;
}

.type-label,
.label {
  margin: 0;
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #000000;
}

.type-label {
  width: max-content;

}

.error,
.server-response {
  width: 100%;
  height: 1.2rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.server-response {
  color: green;
}

.error {
  color: red;
}

.switch-container {
  position: relative;
  width: 28rem;
  height: 5rem;
  background-color: $additional-dark-color;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.switch-input {
  display: none;
}

.switch-label {
  z-index: 1;
  height: 5rem;
  line-height: 5rem;
  color: $dark-color;
  font-size: 1.4rem;
  cursor: pointer;
  user-select: none;
}

.switch-slider {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 10.2rem;
  height: 4.6rem;
  background-color: $primary-color;
  border-radius: $border-radius;
  transition: all 0.3s ease;
  transform: translateX(0);
}
